<footer>
  <div  id="footer">
   
    <div class="col-xs-2">
    </div>
    <div class="col-xs-3">
     <ul> 
     <br> 
      <li><p class="footer-text"><%=link_to "Home",  home_path, class: " linksheader" %></p></li>
      <li><p class="footer-text"><%=link_to "About",  about_path, class: " linksheader" %></p></li>
     </ul>
    </div>
    <div class="col-xs-3">
     <ul> 
     <br> 
      <li><p class="footer-text"><%=link_to "Listado peliculas",  peliculas_path, class: " linksheader" %></p></li>
      <li><p class="footer-text"><%=link_to "Añadir pelicula",  new_pelicula_path, class: " linksheader" %></p></li>
     </ul>
    </div>
    <div class="col-xs-2">
    </div>
  </div>
</footer>