<!DOCTYPE html>
<html>
  <head>
  <%= render "shared/header" %>  
  </head>

  <body>
  <div class="container about"><!-- start container -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><!-- start columna1 -->
      <div id= "poster1"><!-- start primer row -->
        <img class="img-responsive" src="http://s3-eu-west-1.amazonaws.com/deskcamping/desks/feature_images/000/000/894/cropped/5287-%C2%A9Amandine_Alessandra.jpg?1486489177" style="width:100%">
      </div>
    </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><!-- start columna2 -->
    <div id= "poster2">
     <img class="img-responsive" src="http://www.viclone.com/img/team/viclone-team-baja.jpg" style="width:100%">
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><!-- start columna1 -->
      <div ><!-- start primer row -->
        <p id="poster3-text">You must learn the ways of the Force if you're to come with me to Alderaan. Alderaan? I'm not going to Alderaan. I've got to go home. It's late, I'm in for it as it is. I need your help, Luke. She needs your help. I'm getting too old for this sort of thing. I can't get involved! I've got work to do! It's not that I like the Empire. I hate it! But there's nothing I can do about it right now. It's such a long way from here. That's your uncle talking. Oh, God, my uncle. How am I ever going to explain this?</p>
      </div>
   </div>
 </div>   
    
  </body>
  <footer>
  <%= render "shared/footer" %>  
  </footer>
</html>


