<!DOCTYPE html>
<html>
  <head>
  <%= render "shared/header" %>  
  </head>

  <body>
  <div class="container cartelera"><!-- start container -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><!-- start columna1 -->
      <div id= "poster1"><!-- start primer row -->
        <img class="img-responsive" src="https://www.cinesa.es/Manager/Peliculas/ptria/cartelera.jpg">
      </div>
    </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><!-- start columna2 -->
    <div id= "poster2">
     <img class="img-responsive" src="https://www.cinesa.es/Manager/Peliculas/piratasdelcaribelavenganzadesalazar/cartelera.jpg" style="width:100%">
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><!-- start columna1 -->
      <div id= "poster3"><!-- start primer row -->
        <img class="img-responsive" src="https://www.cinesa.es/Manager/Peliculas/ungolpeconestilo/cartelera.jpg">
      </div>
    </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><!-- start columna2 -->
    <div id= "poster4">
     <img class="img-responsive" src="https://www.cinesa.es/Manager/Peliculas/unitalianoennoruega/cartelera.jpg" style="width:100%">
    </div>
  </div>
 </div>   
    
  </body>
  <%= render "shared/footer" %>  
</html>









 






  